@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Outfit', cursive;
}

body {
  background-color: #545C52;
}

h1,
h4,
p,
a {
  color: #BBC7CE;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.btn {
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  background: #98E2C6;
  color: #545C52;
  border: 1px solid #C4B7CB;
  font-weight: 600;
  cursor: pointer;
}

.btn-light {
  background: transparent;
  color: #BFEDEF;
}

.btn:hover {
  background: #545C52;
  color: #98E2C6;
  transition: 0.15s;
}