@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Outfit', cursive;
}

body {
  background-color: #2b061e;
}

h1,
h4,
p,
a {
  color: #875053;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.btn {
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  background: #875053;
  color: #2b061e;
  border: 1px solid #d2bf55;
  font-weight: 600;
  cursor: pointer;
}

.btn-light {
  background: transparent;
  color: #fbbfca;
}

.btn:hover {
  background: #fbbfca;
  color: #ffeed6;
  transition: 0.15s;
}